[Unit]
Description=Svas service
After=network-online.target mysqld
Requires=mysqld

[Service]
Type=simple
EnvironmentFile=-/usr/local/svas/svas.cnf
WorkingDirectory=/usr/local/svas
ExecStart=/usr/local/svas/svas.jar
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=20
User=svas

[Install]
WantedBy=multi-user.targe